.slideshow-container 
{
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides 
{
  display: none;
}

.prev, .next 
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next 
{
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover 
{
  background-color: grey;
}

.notext 
{
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  margin-right: auto;
}

.notext1 
{
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  margin-right: auto;
}

.points 
{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .points:hover 
{
  background-color: #717171;
}

.fade 
{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade 
{
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade 
{
  from {opacity: .4}
  to {opacity: 1}
}

.welcome-size
{
	margin: 15px;
	text-align: center;
	font-size: 20px;
}